<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Home Page</title>
  </head>
  <body>
    <% if (user) {%>
    <h1>Welcome Back <%= user.username %></h1>
    <a href="auth/log-out">Log Out</a>
    <% } %>
    <h1>Members Home Page</h1>
    <a href="/user/join-the-club">Join the Club</a>
    <p><%= messages %></p>
    <a href="/auth/log-in">Log In</a>
    <a href="/auth/sign-up">Sign Up</a>
  </body>
</html>
