<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join the Club</title>
  </head>
  <body>
    <h1>Join our Exclusive Club!</h1>
    <p>All you have to do is guess the secret password and you will gain full access.</p>
    <form action="/user/join-the-club" method="POST" class="form">
      <label for="secret_password">Guess the Secret Password:</label>
      <input type="text" type="secret_password" id="secret_password" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
