<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Sign Up</h1>
    <% if (messages.error) { %>
    <div class="alert alert-danger"><%= messages.error %></div>
    <% } %>
    <!-- this is express flash error elerts -->

    <% if (typeof errors !== "undefined" && errors.length > 0) { %>
    <ul class="error-messages">
      <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
      <% }); %>
    </ul>
    <% } %>

    <form action="/auth/sign-up" method="POST" class="form">
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" placeholder="Joe" required />

      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" placeholder="Bloggs" required />

      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <label for="confirm_password">Confirm Password:</label>
      <input type="password" id="confirm_password" name="confirm_password" required />

      <label for="admin">Admin Status:</label>
      <input type="checkbox" id="admin" name="admin" value="true" />

      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
